{% extends "base.html" %}
{% block content %}

<style>
    .select-title{
        background-color: #1B6AAA!important;
        border-color: #1B6AAA;
        color: #FFF;
    }
</style>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="#">投放分析</a>
        </li>
        <li>
            <a href="#">媒体分析</a>
        </li>
        <li class="active">新增转化</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">

    <script type="text/javascript" src="/static/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table-multiple-sort.js"></script>
    <script type="text/javascript" src="/static/date_dropper/datedropper.js"></script>
    <link rel="stylesheet" href="/static/date_dropper/datedropper.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/Fliter.css">

    <div class="btn-group">
        <button id ="time_1" type="button" class="data-filter btn btn-white btn-sm btn-primary">昨日</button>
        <button id ="time_2" type="button" class="data-filter btn btn-white btn-sm btn-primary">前日</button>
        <button id ="time_7" type="button" class="data-filter btn btn-white btn-sm btn-primary">近7天</button>
        <button id ="time_15" type="button" class="data-filter btn btn-white btn-sm btn-primary">近15天</button>
        <button id ="time_30" type="button" class="data-filter btn btn-white btn-sm btn-primary">近30天</button>
        <button id ="timeAll" type="button" class="data-filter btn btn-sm btn-primary">历史所有</button>
    </div>
    |<input value="选择自然月" type="text" class="data-filter btn btn-white btn-sm btn-primary" style="height:27px" id="month" />|
    <input id="timeFrom" type="date" class="data-filter btn btn-white btn-sm btn-primary" value="" style="height:27px">--
    <input id="timeTo" type="date" class="data-filter btn btn-white btn-sm btn-primary" value="" style="height:27px">

    <p></p>
    <div>
<!-- Filter by Silence Begin -->
        <div id="FilterQuery" class="hotel-filter-list "><strong class="tit">已选</strong>
            <div class="conF selected-query">
                <ul id="FilterTagSelected">
                    <li class="filter-query-clear"><a id="FilterQueryClear" href="javascript:;">全部清除</a></li>
                </ul>
            </div>
        </div>
        <div id="FilterQueryList">
            <div id="List01" class="filterlist hotel-filter-list filter-list-has-more hotel-filter-list-min" data-value="channel">
                <strong class="tit">媒体</strong>
                <div class="conF checkboxF">
                    <ul class="any">
                        <li><a class="filter-unlimit filter-tag selected" href="javascript:;">不限</a></li>
                    </ul>
                    <ul class="initial"></ul>
                    <ul class="list"></ul>
                    <span class="filter-more"><span class="open">更多</span><span class="closeF">收起</span><i></i></span>
                </div>
            </div>
            <div id="List02" class="filterlist hotel-filter-list filter-list-has-more hotel-filter-list-min" data-value="agent">
                <strong class="tit">代理</strong>
                <div class="conF checkboxF">
                    <ul class="any">
                        <li><a class="filter-unlimit filter-tag selected" href="javascript:;">不限</a></li>
                    </ul>
                    <ul class="initial"></ul>
                    <ul class="list"></ul>
                    <span class="filter-more"><span class="open">更多</span><span class="closeF">收起</span><i></i></span>
                </div>
            </div>
            <div id="List03" class="filterlist hotel-filter-list filter-list-has-more hotel-filter-list-min" data-value="staff">
                <strong class="tit">负责</strong>
                <div class="conF checkboxF">
                    <ul class="any">
                        <li><a class="filter-unlimit filter-tag selected" href="javascript:;">不限</a></li>
                    </ul>
                    <ul class="initial"></ul>
                    <ul class="list"></ul>
                    <span class="filter-more"><span class="open">更多</span><span class="closeF">收起</span><i></i></span>
                </div>
            </div>
        </div>
        <!-- Filter by Silence End -->

        <div align="center" style="padding-top:7px">
            <button id="chaxun" class="btn btn-sm btn-primary" onclick="chaxun();">查询</button>
        </div>
    </div>
    <div class="hr hr-8 hr-dotted"></div>
    <!--<div id="main-widget-container" styledelete="height:84px;background:#EEEEEE">-->

        <!--<div class="col-xs-2 col-sm-2 widget-container-col" id="widget-container-col-1" >-->
            <!--<div class="widget-box " id="widget-box-1">-->
                <!--<div class=" infobox-blue infobox-dark infobox-data" style="text-align:center">-->
                    <!--<div class="infobox-content" style="color:#333;">计算中...</div>-->
                    <!--<div class="infobox-content" style="color:#B22222;">计算中...</div>-->
                    <!--<div class="infobox-content">新增设备</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-2 col-sm-2 widget-container-col" id="widget-container-col-2">-->
            <!--<div class="widget-box " id="widget-box-2">-->
                <!--<div class=" infobox-blue infobox-dark infobox-data" style="text-align:center">-->
                    <!--<div class="infobox-content" style="color:#333;">计算中...</div>-->
                    <!--<div class="infobox-content" style="color:#B22222;">计算中...</div>-->
                    <!--<div class="infobox-content">新增总账号</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-2 col-sm-2 widget-container-col" id="widget-container-col-3">-->
            <!--<div class="widget-box" id="widget-box-3">-->
                <!--<div class=" infobox-blue infobox-dark infobox-data" style="text-align:center">-->
                    <!--<div class="infobox-content" style="color:#333;">计算中...</div>-->
                    <!--<div class="infobox-content" style="color:#B22222;">计算中...</div>-->
                    <!--<div class="infobox-content">付费账号</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-2 col-sm-2 widget-container-col" id="widget-container-col-4">-->
            <!--<div class="widget-box" id="widget-box-4">-->
                <!--<div class=" infobox-blue infobox-dark infobox-data" style="text-align:center">-->
                    <!--<div class="infobox-content" style="color:#333;">计算中...</div>-->
                    <!--<div class="infobox-content" style="color:#B22222;">计算中...</div>-->
                    <!--<div class="infobox-content">累计流水</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-2 col-sm-2 widget-container-col" id="widget-container-col-5">-->
            <!--<div class="widget-box" id="widget-box-5">-->
                <!--<div class=" infobox-blue infobox-dark infobox-data" style="text-align:center">-->
                    <!--<div class="infobox-content" style="color:#333;">计算中...</div>-->
                    <!--<div class="infobox-content" style="color:#B22222;">计算中...</div>-->
                    <!--<div class="infobox-content">折后花费</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-2 col-sm-2 widget-container-col" id="widget-container-col-6">-->
            <!--<div class="widget-box" id="widget-box-6">-->
                <!--<div class=" infobox-blue infobox-dark infobox-data" style="text-align:center">-->
                    <!--<div class="infobox-content" style="color:#333;">计算中...</div>-->
                    <!--<div class="infobox-content" style="color:#B22222;">计算中...</div>-->
                    <!--<div class="infobox-content">分成后ROI</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div>
        <table id="table" data-sort-name="date_time" data-sort-order="desc" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th data-field="game_id" data-sortable="true">游戏</th>
                    <th data-field="platform" data-sortable="true">平台</th>
                    <th data-field="channel_name" data-sortable="true">　渠道　</th>
                    <th data-field="agent" data-sortable="true">代理商</th>
                    <th data-field="staff" data-sortable="true">负责人</th>
                    <th data-field="date_time" data-sortable="true">　日期　</th>
                    <th data-field="dis_spend" data-sortable="true">花费总额</th>
                    <th data-field="ad_click" data-sortable="true">点击设备</th>
                    <th data-field="ad_action" data-sortable="true">激活设备</th>
                    <th data-field="ad_action_new" data-sortable="true">新增设备</th>
                    <th data-field="ad_action_new_back" data-sortable="true">回流账号</th>
                    <th data-field="ad_account_new_double" data-sortable="true">纯新增账号</th>
                    <th data-field="ad_login_count" data-sortable="true">登录账号总数</th>
                    <th data-field="ad_create_role" data-sortable="true">创建角色</th>
                    <th data-field="ad_AU_5" data-sortable="true">活跃5分钟</th>
                    <th data-field="ad_role_31" data-sortable="true">31级以上用户</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="widget-box ui-sortable-handle" id="widget-box-7">
        <div class="widget-header" style="padding-top:2px">
            <button class="widget-title" style="visibility: hidden;">|</button>
            <button id="dis_spend" class="chart-title select-title">花费总额</button>
            <button id="ad_click" class="chart-title">点击设备</button>
            <button id="ad_action" class="chart-title">激活设备</button>
            <button id="ad_action_new" class="chart-title">新增设备</button>
            <button id="ad_action_new_back" class="chart-title">回流账号</button>
            <button id="ad_account_new_double" class="chart-title">纯新增账号</button>
            <button id="ad_login_count" class="chart-title">登录账号总数</button>
            <button id="ad_create_role" class="chart-title">创建角色</button>
            <button id="ad_AU_5" class="chart-title">活跃5分钟</button>
            <button id="ad_role_31" class="chart-title">31级以上用户</button>
            <button id="compare" class="chart-title">对比图</button>

            <div class="widget-toolbar">
                <!--<a href="#" data-action="fullscreen" class="orange2">-->
                    <!--<i class="ace-icon fa fa-expand"></i>-->
                <!--</a>-->

                <!--<a href="#" data-action="reload">-->
                    <!--<i class="ace-icon fa fa-refresh"></i>-->
                <!--</a>-->

                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>

                <a href="#" data-action="close">
                    <i class="ace-icon fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div id="container" style="min-width:400px;height:300px"></div>
        </div>
    </div>

</div><!-- /.page-content -->

<script type="text/javascript"> <!--开始设置数据格式-->
    // 对json进行按照指定key排序
    function sortByKey(array, key) {
        return array.sort(function(a, b) {
            var x = a[key]; var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        });
    }

    /*
    将数值四舍五入后格式化.
    @param num 数值(Number或者String)
    @param cent 要保留的小数位(Number)
    @param isThousand 是否需要千分位 0:不需要,1:需要(数值类型);
    @return 格式的字符串,如'1,234,567.45'
    @type String
    */
    function formatNumber(num,cent,isThousand){
        num = num.toString().replace(/\$|\,/g,'');
        if(isNaN(num))//检查传入数值为数值类型.
         num = "0";
        if(isNaN(cent))//确保传入小数位为数值型数值.
        cent = 0;
        cent = parseInt(cent);
        cent = Math.abs(cent);//求出小数位数,确保为正整数.
        if(isNaN(isThousand))//确保传入是否需要千分位为数值类型.
        isThousand = 0;
        isThousand = parseInt(isThousand);
        if(isThousand < 0)
        isThousand = 0;
        if(isThousand >=1) //确保传入的数值只为0或1
        isThousand = 1;
        sign = (num == (num = Math.abs(num)));//获取符号(正/负数)
        //Math.floor:返回小于等于其数值参数的最大整数
        num = Math.floor(num*Math.pow(10,cent)+0.50000000001);//把指定的小数位先转换成整数.多余的小数位四舍五入.
        cents = num%Math.pow(10,cent); //求出小数位数值.
        num = Math.floor(num/Math.pow(10,cent)).toString();//求出整数位数值.
        cents = cents.toString();//把小数位转换成字符串,以便求小数位长度.
        while(cents.length<cent){//补足小数位到指定的位数.
        cents = "0" + cents;
        }
        if(isThousand == 0) //不需要千分位符.
        return (((sign)?'':'-') + num + '.' + cents);
        //对整数部分进行千分位格式化.
        for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
        num = num.substring(0,num.length-(4*i+3))+','+
        num.substring(num.length-(4*i+3));
        return (((sign)?'':'-') + num + '.' + cents);
    }
    //千分位转化
    function toThousands(num) {
        return (num || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
    }

    function spend(value,row) {
        var values = value.toString().split(".");
        if(typeof(values[1]) == "undefined"){
            return toThousands(values[0]).toString();
        }else{
            return toThousands(values[0]).toString() + "."+ values[1];
        }
    }

</script><!--结束设置数据格式-->

<script type="text/javascript"> <!-- 初始化table -->
    $("#table").bootstrapTable({
        url: "/analyze/newTransferJson?{{sjs}}&game_id=&platform=&channel_name=&agent=&staff=",
        pagination: true, //开启分页
        pageSize: 10,
    });

    $("#showHideTable").click(function(){
        $(".bootstrap-table").hide();
    });

    //以下三列用于筛选 不需要显示
    $("#table").bootstrapTable('hideColumn', 'game_id');
    $("#table").bootstrapTable('hideColumn', 'platform');
    $("#table").bootstrapTable('hideColumn', 'channel_name');
    $("#table").bootstrapTable('hideColumn', 'agent');
    $("#table").bootstrapTable('hideColumn', 'staff');


</script><!-- 初始化table -->

<script type="text/javascript"> <!-- 日历筛选 -->
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    //入参 2016-01-10格式的字符串
    function filterTime(fromTime,toTime){
        //先将条件筛选清空
        //$(".J_FilterQueryClear").trigger("click");

        var fromTimeCuo = Date.parse(new Date(fromTime));
        var toTimeCuo = Date.parse(new Date(toTime));
        var tianshu = (toTimeCuo - fromTimeCuo)/1000/60/60/24;

        var fromToTime = [fromTime];
        var flag = fromTimeCuo
        for (var i = 0 ; i < tianshu ; i++ ){
            flag = flag+1000*60*60*24;
            fromToTime.push( new Date(flag).Format("yyyy-MM-dd") );
        }
        //重新请求数据
        $("#table").bootstrapTable('refresh',{url: "/analyze/newTransferJson?{{sjs}}&game_id&platform&channel_name&agent&staff" } );

        $("#table").bootstrapTable('filterBy',{date_time : fromToTime});

        //日期设置完成后,设置执行查询
        $("#chaxun").trigger("click");

        //日期筛选完成后,设置piece chartdata
        setTimeout("setPieceChart();",2000);
    }

    $("#time_1").click(function(){
        var time = new Date();
        var timeTo = new Date(time - 1000*60*60*24).Format("yyyy-MM-dd");
        console.log(timeTo);

        $("#timeFrom").val(timeTo);
        $("#timeTo").val(timeTo);
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $(this).removeClass("btn-white");
        filterTime(timeTo, timeTo);
    });
    $("#time_2").click(function(){
        var time = new Date();
        var timeTo = new Date(time - 1000*60*60*24*2).Format("yyyy-MM-dd");
        console.log(timeTo);
        $("#timeFrom").val(timeTo);
        $("#timeTo").val(timeTo);
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $(this).removeClass("btn-white");
        filterTime(timeTo, timeTo);
    });
    $("#time_7").click(function(){
        var time = new Date();
        var timeTo = new Date(time - 1000*60*60*24).Format("yyyy-MM-dd");
        var timeFrom = new Date(time - 1000*60*60*24*7).Format("yyyy-MM-dd");
        console.log(timeTo,timeFrom);
        $("#timeFrom").val(timeFrom);
        $("#timeTo").val(timeTo);
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $(this).removeClass("btn-white");
        filterTime(timeFrom, timeTo);
    });
    $("#time_15").click(function(){
        var time = new Date();
        var timeTo = new Date(time - 1000*60*60*24).Format("yyyy-MM-dd");
        var timeFrom = new Date(time - 1000*60*60*24*15).Format("yyyy-MM-dd");
        console.log(timeTo,timeFrom);
        $("#timeFrom").val(timeFrom);
        $("#timeTo").val(timeTo);
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $(this).removeClass("btn-white");
        filterTime(timeFrom, timeTo);
    });
    $("#time_30").click(function(){
        var time = new Date();
        var timeTo = new Date(time - 1000*60*60*24).Format("yyyy-MM-dd");
        var timeFrom = new Date(time - 1000*60*60*24*30).Format("yyyy-MM-dd");
        console.log(timeTo,timeFrom);
        $("#timeFrom").val(timeFrom);
        $("#timeTo").val(timeTo);
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $(this).removeClass("btn-white");
        filterTime(timeFrom, timeTo);
    });
    $("#month").dateDropper({
        animate: false,
        format: 'Y-m',
        maxYear: '2017'
    });

    $("#month").change(function(){
        var flag = $(this).val();
        var timeFrom = new Date(flag).Format("yyyy-MM-dd");

        var timeTo = new Date(flag);
        timeTo.setMonth(timeTo.getMonth() + 1); //月份加1
        timeTo = new Date(timeTo.getTime()-1000*60*60*24).Format("yyyy-MM-dd");

        $("#timeFrom").val(timeFrom);
        $("#timeTo").val(timeTo);
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $("#month").removeClass("btn-white");
        filterTime(timeFrom, timeTo);
    });

    $("#timeAll").click(function(){
        var time = new Date();
        var timeTo = new Date(time - 1000*60*60*24).Format("yyyy-MM-dd");
        var timeFrom = "2015-01-01";
        console.log(timeTo,timeFrom);
        $("#timeFrom").val(timeFrom);
        $("#timeTo").val(timeTo);
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $(this).removeClass("btn-white");
        filterTime(timeFrom, timeTo);
    });
    $("#timeFrom").change(function(){
        var timeFrom = $(this).val();
        var timeTo = $("#timeTo").val();
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $(this).removeClass("btn-white");
        $("#timeTo").removeClass("btn-white");
        filterTime(timeFrom, timeTo);

    });
    $("#timeTo").change(function(){
        var timeTo = $(this).val();
        var timeFrom = $("#timeFrom").val();
        //设置背景颜色,和其他去掉背景颜色
        $(".data-filter").addClass("btn-white");
        $("#timeFrom").removeClass("btn-white");
        $(this).removeClass("btn-white");
        filterTime(timeFrom, timeTo);

    });

    //初始化From To
    $("#timeFrom").val("2015-01-01");

    var time = new Date();
    var timeTo = new Date(time - 1000*60*60*24).Format("yyyy-MM-dd");
    $("#timeTo").val(timeTo);

</script><!-- 日历筛选 -->

<script src="/static/js/Filter.js"></script><!--筛选需要的js-->
<script type="text/javascript">

  


    // 时间筛选+条件筛选
    function chaxun (){
 
        var TJ_staff= new Array();
        var TJ_agnet =new Array();
        var TJ_channel=new Array();
        var fromTime = $("#timeFrom").val();
        var toTime = $("#timeTo").val();

        var fromTimeCuo = Date.parse(new Date(fromTime));
        var toTimeCuo = Date.parse(new Date(toTime));
        var tianshu = (toTimeCuo - fromTimeCuo)/1000/60/60/24;

        var fromToTime = [fromTime];
        var flag = fromTimeCuo
        for (var i = 0 ; i < tianshu ; i++ ){
            flag = flag+1000*60*60*24;
            fromToTime.push( new Date(flag).Format("yyyy-MM-dd") );
        }


        $("#FilterTagSelected [data-channel]").each(function(){TJ_channel.push($(this).text());});
        $("#FilterTagSelected [data-agent]").each(function(){TJ_agnet.push($(this).text());});
        $("#FilterTagSelected [data-staff]").each(function(){TJ_staff.push($(this).text());});
 

        $("#table").bootstrapTable('refresh',{url: "/analyze/newTransferJson?{{sjs}}&channel_name=" + TJ_channel.join(",") + "&agent=" + TJ_agnet.join(",") + "&staff=" + TJ_staff.join(",")} );

        $("#table").bootstrapTable('filterBy',{
            date_time : fromToTime,
        });

        //条件筛选完成后,重新设置 piece chart
        setTimeout("setPieceChart();",2000);
    }


</script>

<script src="/static/js/highcharts.js"></script><!--图表需要的js-->
<script type="text/javascript">
    function setChart(title,danwei,data){
        $('#container').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: title
            },
            <!--subtitle: {-->
                <!--text: document.ontouchstart === undefined ?-->
                <!--'鼠标拖动可以进行缩放' : '手势操作进行缩放'-->
            <!--},-->
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            tooltip: {
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            yAxis: {
                title: {
                    text: danwei
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: '数量',
                data: data
            }]
        });
    };

function getSetChartCompareData(data){
    var result = new Array();
    for(var i = 0; i < data.length; i++){
        result[i] = data[i][1];
    }
    return result;
}

function setChartCompare( ){
    var categories = new Array();
    for(var i = 0; i < ad_click_dataS.length; i++){
        categories[i] = new Date(ad_click_dataS[i][0]).Format("MM-dd");
    }

    $('#container').highcharts({
        chart: { zoomType: 'xy' },
        title: { text: '　' },
        //subtitle: { text: '数据来源: WorldClimate.com' },
        xAxis: [{
            categories: categories,
            crosshair: true,
            labels: {
                rotation: 90
            }
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value} 个',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: '单位：个',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: '单位：元',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} 元',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: { shared: true },
        plotOptions: {
            area: {
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: '花费总额',
            type: 'area',
            yAxis: 1,
            data: getSetChartCompareData(dis_spend_dataS),
            tooltip: {
                valueSuffix: ' 元'
            }
        }, {
            name: '点击设备',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_click_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }, {
            name: '激活设备',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_action_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }, {
            name: '新增设备',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_action_new_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }, {
            name: '回流账号',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_action_new_back_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }, {
            name: '纯新增账号',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_account_new_double_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }, {
            name: '登录账号总数',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_login_count_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }, {
            name: '创建角色',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_create_role_dataS),
            tooltip: {
                valueSuffix: '个'
            }
        }, {
            name: '活跃5分钟',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_AU_5_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }, {
            name: '31级以上用户',
            type: 'area',
            yAxis: 0,
            data: getSetChartCompareData(ad_role_31_dataS),
            tooltip: {
                valueSuffix: ' 个'
            }
        }]
    });
};

</script><!--图表需要的js setChart(data)-->

<script type="text/javascript"><!--筛选后的数据处理-->

    var dis_spend_dataS = [];
    var ad_click_dataS = [];
    var ad_action_dataS = [];
    var ad_action_new_dataS = [];
    var ad_action_new_back_dataS = [];
    var ad_account_new_double_dataS = [];
    var ad_login_count_dataS =[];
    var ad_create_role_dataS = [];
    var ad_AU_5_dataS = [];
    var ad_role_31_dataS = [];

    function setPieceChart(){ //设置快的数据和获取chart的数据
        var dataS = sortByKey( $("#table").bootstrapTable('getData'), "date_time");


        //处理 box
        <!--var adActionNew = 0; //ad_action_new-->
        <!--var adAccountNew = 0;  //ad_account_new-->
        <!--var paidAccount = 0; //ad_login_count-->
        <!--var cumulativeFlow = 0; //cumulative_flow-->
        <!--var spend = 0; //spend-->
        <!--var ROI = 0; //ROI-->
        var dataLength = dataS.length;


        //处理chartdata //先将数据清空
        dis_spend_dataS = [];
        ad_click_dataS = [];
        ad_action_dataS =[];
        ad_action_new_dataS =[];
        ad_action_new_back_dataS = [];
        ad_account_new_double_dataS = [];
        ad_login_count_dataS = [];
        ad_create_role_dataS = [];
        ad_AU_5_dataS = [];
        ad_role_31_dataS = [];

        for(var i=0 ; i<dataLength;i++){
            <!--adActionNew = adActionNew + Number(dataS[i]["ad_action_new"]);-->
            <!--adAccountNew = adAccountNew + Number(dataS[i]["ad_account_new"]);-->
            <!--paidAccount = paidAccount + Number(dataS[i]["paid_account"]);-->
            <!--cumulativeFlow = cumulativeFlow + Number(dataS[i]["cumulative_flow"]);-->
            <!--spend = spend + Number(dataS[i]["spend"]);-->
            <!--ROI = ROI + Number(dataS[i]["ROI"]);-->

            var UTCdata = Date.parse(new Date(dataS[i]["date_time"]));

            var dis_spend_data = Number(dataS[i]["dis_spend"]);
            dis_spend_dataS.push([UTCdata,dis_spend_data]);

            var ad_click_data = Number(dataS[i]["ad_click"]);
            ad_click_dataS.push([UTCdata,ad_click_data]);

            var ad_action_data = Number(dataS[i]["ad_action"]);
            ad_action_dataS.push([UTCdata,ad_action_data]);

            var ad_action_new_data = Number(dataS[i]["ad_action_new"]);
            ad_action_new_dataS.push([UTCdata,ad_action_new_data]);

            var ad_action_new_back_data = Number(dataS[i]["ad_action_new_back"]);
            ad_action_new_back_dataS.push([UTCdata,ad_action_new_back_data]);

            var ad_account_new_double_data = Number(dataS[i]["ad_account_new_double"]);
            ad_account_new_double_dataS.push([UTCdata,ad_account_new_double_data]);

            var ad_login_count_data = Number(dataS[i]["ad_login_count"]);
            ad_login_count_dataS.push([UTCdata,ad_login_count_data]);

            var ad_create_role_data = Number(dataS[i]["ad_create_role"]);
            ad_create_role_dataS.push([UTCdata,ad_create_role_data]);

            var ad_AU_5_data = Number(dataS[i]["ad_AU_5"]);
            ad_AU_5_dataS.push([UTCdata,ad_AU_5_data]);

            var ad_role_31_data = Number(dataS[i]["ad_role_31"]);
            ad_role_31_dataS.push([UTCdata,ad_role_31_data]);

        }

        <!--$($("#widget-box-1").children("div").children("div")[0]).text("总计 " + toThousands(adActionNew));-->
        <!--$($("#widget-box-1").children("div").children("div")[1]).text("平均 " + toThousands((adActionNew/dataLength).toFixed(0)));-->

        <!--$($("#widget-box-2").children("div").children("div")[0]).text("总计 " + toThousands(adAccountNew));-->
        <!--$($("#widget-box-2").children("div").children("div")[1]).text("平均 " + toThousands((adAccountNew/dataLength).toFixed(0)));-->

        <!--$($("#widget-box-3").children("div").children("div")[0]).text("总计 " + toThousands(paidAccount));-->
        <!--$($("#widget-box-3").children("div").children("div")[1]).text("平均 " + toThousands((paidAccount/dataLength).toFixed(0)));-->

        <!--$($("#widget-box-4").children("div").children("div")[0]).text("总计 " + formatNumber (cumulativeFlow, 2, 1));-->
        <!--$($("#widget-box-4").children("div").children("div")[1]).text("平均 " + formatNumber ( (cumulativeFlow/dataLength), 2, 1));-->

        <!--$($("#widget-box-5").children("div").children("div")[0]).text("总计 " + formatNumber (spend, 2, 1));-->
        <!--$($("#widget-box-5").children("div").children("div")[1]).text("平均 " + formatNumber ( (spend/dataLength), 2, 1));-->

        <!--$($("#widget-box-6").children("div").children("div")[0]).text("总计 " + formatNumber (ROI, 2, 1));-->
        <!--$($("#widget-box-6").children("div").children("div")[1]).text("平均 " + formatNumber ( (ROI/dataLength), 2, 1));-->

        $("#dis_spend").trigger("click");

    }

    setTimeout("setPieceChart();",2000);

    $("#dis_spend").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("花费总额","单位:元",dis_spend_dataS);
    })

    $("#ad_click").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("点击设备","单位:个",ad_click_dataS);
    })

    $("#ad_action").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("激活设备","单位:个",ad_action_dataS);
    })

    $("#ad_action_new").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("新增设备","单位:个",ad_action_new_dataS);
    })

    $("#ad_action_new_back").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("回流账号","单位:个",ad_action_new_back_dataS);
    })

    $("#ad_account_new_double").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("纯新增账号","单位:个",ad_account_new_double_dataS);
    })

    $("#ad_login_count").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("登录账号总数","单位:个",ad_login_count_dataS);
    })

    $("#ad_create_role").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("创建角色","单位:个",ad_create_role_dataS);
    })

    $("#ad_AU_5").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("活跃5分钟","单位:个",ad_AU_5_dataS);
    })

    $("#ad_role_31").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChart("31级以上用户","单位:个",ad_role_31_dataS);
    })
    $("#compare").click(function(){
        //设置选择样式,和其他去掉选择样式
        $(".chart-title").removeClass("select-title");
        $(this).addClass("select-title");
        setChartCompare();
    })

</script><!--筛选后的数据处理-->

<script src="/static/ace/js/jquery-ui.custom.min.js"></script><!--拖拽需要的js-->
<script type="text/javascript">
jQuery(function($) {
    // widget boxes
    // widget box drag & drop example
    $('.widget-container-col').sortable({
        connectWith: '.widget-container-col',
		items:'> .widget-box',
	    handle: ace.vars['touch'] ? '.select-title' : false,
	    cancel: '.fullscreen',
	    opacity:0.8,
	    revert:true,
	    forceHelperSize:true,
	    placeholder: 'widget-placeholder',
	    forcePlaceholderSize:true,
	    tolerance:'pointer',
		start: function(event, ui) {
		    //when an element is moved, it's parent becomes empty with almost zero height.
		    //we set a min-height for it to be large enough so that later we can easily drop elements back onto it
		    ui.item.parent().css({'min-height':ui.item.height()})
		    //ui.sender.css({'min-height':ui.item.height() , 'background-color' : '#F5F5F5'})
		},
	    update: function(event, ui) {
		    ui.item.parent({'min-height':''})
		    //p.style.removeProperty('background-color');


		    //save widget positions
		    var widget_order = {}
		    $('.widget-container-col').each(function() {
			    var container_id = $(this).attr('id');
			    widget_order[container_id] = []


			    $(this).find('> .widget-box').each(function() {
		            var widget_id = $(this).attr('id');
		            widget_order[container_id].push(widget_id);
		            //now we know each container contains which widgets
			    });
			});

		    ace.data.set('mediaOverview', 'widget-order', widget_order, null, true);
		}
	});


    //when a widget is shown/hidden/closed, we save its state for later retrieval
    $(document).on('shown.ace.widget hidden.ace.widget closed.ace.widget', '.widget-box', function(event) {
        var widgets = ace.data.get('mediaOverview', 'widget-state', true);
        if(widgets == null) widgets = {}

        var id = $(this).attr('id');
        widgets[id] = event.type;
	    ace.data.set('mediaOverview', 'widget-state', widgets, null, true);
    });


    (function() {
        //restore widget order
	    var container_list = ace.data.get('mediaOverview', 'widget-order', true);
	    if(container_list) {
		    for(var container_id in container_list) if(container_list.hasOwnProperty(container_id)) {

                var widgets_inside_container = container_list[container_id];
                if(widgets_inside_container.length == 0) continue;

                for(var i = 0; i < widgets_inside_container.length; i++) {
                    var widget = widgets_inside_container[i];
                    $('#'+widget).appendTo('#'+container_id);
                }

            }
	    }


        //restore widget state
        var widgets = ace.data.get('mediaOverview', 'widget-state', true);
        if(widgets != null) {
            for(var id in widgets) if(widgets.hasOwnProperty(id)) {
                var state = widgets[id];
                var widget = $('#'+id);
                if
                (
                    (state == 'shown' && widget.hasClass('collapsed'))
                    ||
                    (state == 'hidden' && !widget.hasClass('collapsed'))
                )
                {
                    widget.widget_box('toggleFast');
                }
                else if(state == 'closed') {
                    widget.widget_box('closeFast');
                }
            }
        }

        //reset saved positions and states
        $('#reset-widgets').on('click', function() {
            ace.data.remove('mediaOverview', 'widget-state');
            ace.data.remove('mediaOverview', 'widget-order');
            document.location.reload();
        });

    })();

});

</script>

{% endblock content %}