{% if not session['username'] %}
    <script>location.href = "/user/login";</script>

{% elif session['mustModPass'] == "1" %}
    <script src="/static/ace/js/jquery-1.11.3.min.js"></script>
    <script>
        $.get("/user/cancelMustModPass",function(data){
            if(data == "1"){
                location.href = "/user/modifypassword";
            }
        });

    </script>

{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>

    <meta name="description" content="{{ title }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/static/ace/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/ace/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="/static/ace/css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/static/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/static/ace/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/static/ace/css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="/static/ace/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/static/ace/js/html5shiv.min.js"></script>
    <script src="/static/ace/js/respond.min.js"></script>
    <![endif]-->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="/static/ace/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="/static/ace/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
                if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");


    </script>
    <script src="/static/ace/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->
    <script src="/static/ace/js/ace-elements.min.js"></script>
    <script src="/static/ace/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script src="/static/ace/js/bootbox.js"></script>

</head>

<body class="no-skin">

<div id="navbar" class="navbar navbar-default ace-save-state"><!-- 页面header部分-->
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                   韦恩瑞富
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="/static/ace/images/avatars/avatar2.png" alt="Jason's Photo"/>
								<span class="user-info">
									<small>Welcome</small>
									{{ session['username'] }}
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--<i class="ace-icon fa fa-cog"></i>-->
                        <!--Settings-->
                        <!--</a>-->
                        <!--</li>-->

                        <li>
<!--                         <a href="/user/modifypassword">
                        <i class="ace-icon fa fa-user"></i>
                        修改密码
                        </a> -->
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="/user/loginout">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div><!-- 页面header部分结束-->

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"> <!-- slider部分开始 -->
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"><!--不知道干啥的 sidebar的小图标-->
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">

            <!--###################################################################    ########-->
            <li class="">
                <a href="/">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 汇总呈现 </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 款项明细 </span>
                </a>

                <b class="arrow"></b>
            </li>
 
            {% if session['username'] in session['zhanshi']: %}
            <!--###################################################################  执行计算  ########-->
           <li class="">
                <a href="/clac_index">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text" > 执行计算 </span>
                </a>

                <b class="arrow"></b>
            </li>
            {% endif %}
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div><!-- slider部分结束 -->

    <div class="main-content"><!-- content部分结束 -->
        <div class="main-content-inner">
            {% block content %}
            {% endblock content %}
        </div>
    </div><!-- /.main-content -->

    <div id="footerbar" class="footer"><!-- footer部分开始 -->
        <div class="footer-inner">
            <div class="footer-content">
				<span class="bigger-120">
					<span class="blue bolder"></span>
					韦恩瑞富 Application &copy;   2018 
				</span>
                &nbsp; &nbsp;
				<span class="action-buttons">
					<a href="#">
						<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
					</a>

					<a href="#">
						<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
					</a>
                </span>
            </div>
        </div>
    </div><!-- footer部分结束 -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>

</div><!-- /.main-container -->

<script>
    function uiVisible(){
    	var url=window.location.href.split("/");
		var pname=url[url.length-1];

		if(pname==""){
			pname="index";
		};

		if(pname=="modifypassword"){
		    pname="index";
		};

		if(pname=="expecting"){
		    pname="index";
		};
        //判断菜单导航是否展开
		for(var i=0;i<$("a").length;i++){
			//if($($("a")[i]).attr("href")== "/" + pname){
			if( $($("a")[i]).attr("href").indexOf( pname ) >=0){
				$($("a")[i]).parent("li").addClass("active");
				$($("a")[i]).parent("li").parent("ul").parent("li").addClass("open");
				//兼容三级菜单
				$($("a")[i]).parent("li").parent("ul").parent("li").parent("ul").parent("li").addClass("active open");
				break;
			}
		}
	};
	uiVisible();
</script>

</body>
</html>
