{% if not session['username'] %}
    <script>location.href = "/user/login";</script>

{% elif session['mustModPass'] == "1" %}
    <script src="/static/ace/js/jquery-1.11.3.min.js"></script>
    <script>
        $.get("/user/cancelMustModPass",function(data){
            if(data == "1"){
                location.href = "/user/modifypassword";
            }
        });

    </script>

{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>

    <meta name="description" content="{{ title }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/static/ace/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/ace/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="/static/ace/css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/static/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/static/ace/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/static/ace/css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="/static/ace/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/static/ace/js/html5shiv.min.js"></script>
    <script src="/static/ace/js/respond.min.js"></script>
    <![endif]-->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="/static/ace/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="/static/ace/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
                if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");


    </script>
    <script src="/static/ace/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->
    <script src="/static/ace/js/ace-elements.min.js"></script>
    <script src="/static/ace/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script src="/static/ace/js/bootbox.js"></script>

</head>

<body class="no-skin">

<div id="navbar" class="navbar navbar-default ace-save-state"><!-- 页面header部分-->
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    Zi Long
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="/static/ace/images/avatars/avatar2.png" alt="Jason's Photo"/>
								<span class="user-info">
									<small>Welcome</small>
									{{ session['username'] }}
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <!--<li>-->
                        <!--<a href="#">-->
                        <!--<i class="ace-icon fa fa-cog"></i>-->
                        <!--Settings-->
                        <!--</a>-->
                        <!--</li>-->

                        <li>
                        <a href="/user/modifypassword">
                        <i class="ace-icon fa fa-user"></i>
                        修改密码
                        </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="/user/loginout">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div><!-- 页面header部分结束-->

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"> <!-- slider部分开始 -->
        <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"><!--不知道干啥的 sidebar的小图标-->
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">

            <!--###################################################################  首页  ########-->
            <li class="">
                <a href="/">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 首页 </span>
                </a>

                <b class="arrow"></b>
            </li>

            <!--###################################################################  投放操作  ########-->
            <li class="">
                <a href="#" class="dropdown-toggle" style="display:none;">
                    <i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text">
								投放操作
                                <span class="badge badge-primary">3</span>
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu nav-hide" >
                    <li class="">
                        <a href="#" class="dropdown-toggle" >
                            <i class="menu-icon fa fa-caret-right"></i>

                            物料操作
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    H5生成平台
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    H5页面统计监测
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    广告监测
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="" >
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i>

                            媒体操作
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    第三方监测
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体广告位
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i>
                            付款核算
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    费用预算
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    费用核对
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    折扣返点
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    付款流程追踪
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <!--<li class="">-->
                        <!--<a href="typography.html">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--Typography-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--###################################################################  投放报表  ########-->
            <li class="open">
                <a href="#" class="dropdown-toggle" style="background-color:#FFF5ee">
                    <i class="menu-icon fa fa-bar-chart-o"></i>
							<span class="menu-text">
								投放报表
                                <span class="badge badge-primary">1</span>
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="#" class="dropdown-toggle" style="display:none;">
                            <i class="menu-icon fa fa-caret-right"></i>

                            实时概览数据
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    实时概览数据
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体实时数据
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    物料实时数据
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    代理实时数据
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    付费实时数据
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="" style="display:none;">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i>

                            投放报表KPI
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    投放概览KPI
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    投放逐日报表
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    投放月度报表
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="open">
                        <a href="#" class="dropdown-toggle" style="background-color:#fffaf0">
                            <i class="menu-icon fa fa-caret-right"> </i>

                            媒体近7日关键数据
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hive " >
                            <li class="open" style="background-color:#fffafa">
                                <a href="/channelIos600">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    iOS-渠道-明细
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <!--<li class="">-->
                        <!--<a href="typography.html">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--Typography-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--###################################################################  投放分析  ########-->
            <li class="open">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-book"></i>
							<span class="menu-text">
								投放分析
                                <span class="badge badge-primary">3</span>
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu nav-hide" >
                    <li class="">
                        <a href="#" class="dropdown-toggle" style="display:none;">
                            <i class="menu-icon fa fa-caret-right"></i>

                            用户分析
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    新增细节及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    活跃细节及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    价值细节及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    自传播细节及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    用户行为分析
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    成本细节及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="open">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i>

                            媒体分析
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="open">
                                <a href="/analyze/mediaOverview">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体概览
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="open">
                                <a href="/analyze/newTransfer">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    新增转化
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="open">
                                <a href="/analyze/mediaRetention"  >
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    留存活跃
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    价值贡献
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    用户质量
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体新增成本及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>


                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体付费成本及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体ROI及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体付费率及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体付费用户分层及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting" style="display:none;">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    媒体留存用户成本及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle" style="display:none;">
                            <i class="menu-icon fa fa-caret-right"></i>
                            物料分析
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    物料使用情况整体概览
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    物料效果分渠道表现及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle" style="display:none;">
                            <i class="menu-icon fa fa-caret-right"></i>
                            优化师分析
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu nav-hide" >
                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    优化师KPI整体概览
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/expecting">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    优化师分渠道表现及趋势
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>

                    <!--<li class="">-->
                        <!--<a href="typography.html">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--Typography-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--###################################################################  市场研究  ########-->
            <li class="">
                <a href="#" class="dropdown-toggle" style="display:none;">
                    <i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								市场研究

                                <span class="badge badge-primary">3</span>
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">

                    <li class="">
                        <a href="/expecting">
                            <i class="menu-icon fa fa-caret-right"></i>
                            区域用户偏好分析
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/expecting">
                            <i class="menu-icon fa fa-caret-right"></i>
                            区域市场规模分析
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/expecting">
                            <i class="menu-icon fa fa-caret-right"></i>
                            游戏立项假设分析
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            {% if session['username'] in session['zhanshi']: %}
            <!--###################################################################  权限管理  ########-->
            <li class="open">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-pencil-square-o"></i>
                    <span class="menu-text">
                        系统管理
                        <span class="badge badge-primary">2</span>
                    </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="/expecting" style="display:none;">
                            <i class="menu-icon fa fa-caret-right"></i>
                            页面权限
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="open">
                        <a href="/auth/dataAuth">
                            <i class="menu-icon fa fa-caret-right"></i>
                            数据权限
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="open">
                        <a href="/monitor/monitor">
                            <i class="menu-icon fa fa-caret-right"></i>
                            网站 监控/统计
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="open">
                        <a href="/chart">
                            <i class="menu-icon fa fa-caret-right"></i>
                            业务蓝图
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div><!-- slider部分结束 -->

    <div class="main-content"><!-- content部分结束 -->
        <div class="main-content-inner">
            {% block content %}
            {% endblock content %}
        </div>
    </div><!-- /.main-content -->

    <div id="footerbar" class="footer"><!-- footer部分开始 -->
        <div class="footer-inner">
            <div class="footer-content">
				<span class="bigger-120">
					<span class="blue bolder">ZiLong</span>
					Application &copy; 2017-2018
				</span>
                &nbsp; &nbsp;
				<span class="action-buttons">
					<a href="#">
						<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
					</a>

					<a href="#">
						<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
					</a>
                </span>
            </div>
        </div>
    </div><!-- footer部分结束 -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>

</div><!-- /.main-container -->

<script>
    function uiVisible(){
    	var url=window.location.href.split("/");
		var pname=url[url.length-1];

		if(pname==""){
			pname="index";
		};

		if(pname=="modifypassword"){
		    pname="index";
		};

		if(pname=="expecting"){
		    pname="index";
		};
        //判断菜单导航是否展开
		for(var i=0;i<$("a").length;i++){
			//if($($("a")[i]).attr("href")== "/" + pname){
			if( $($("a")[i]).attr("href").indexOf( pname ) >=0){
				$($("a")[i]).parent("li").addClass("active");
				$($("a")[i]).parent("li").parent("ul").parent("li").addClass("open");
				//兼容三级菜单
				$($("a")[i]).parent("li").parent("ul").parent("li").parent("ul").parent("li").addClass("active open");
				break;
			}
		}
	};
	uiVisible();
</script>

</body>
</html>
