{% extends "base.html" %}
{% block content %}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/clac_config">执行计算_返佣人信息</a>
        </li>

        <!--<li>-->
            <!--<a href="#">渠道明细</a>-->
        <!--</li>-->
        <!--<li class="active">iOS-渠道-明细</li>-->
    </ul><!-- /.breadcrumb -->
</div>

<div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="header smaller lighter green">点击按钮开始执行</h3>
                                    </div>
                                </div> 
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >使用说明</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
      <thead>
        <tr>
          
          <th>具体内容</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>每个excel文件的第一行默认是标题头，请确保每个excel文件有且只有第一行是标题</td>

        </tr>
        <tr>
         
          <td>每个excel文件会寻找如下关键列，请确保这些列都存在 交易商编号 或者 会员编号 | 交易商名称 或者 会员名称 |  入金 | 出金 | 转让盈亏 | 交易手续费 | 总权益 | 即期保证金 | 订货净亏损 | 当日可用资金 | 期初资金 </td>
 
        </tr>
        <tr>
         
          <td>所有表名需要包含HB、GB、GS、QB  不区分大小写,但如果同一文件名包含多个标记,如HBGB.csv,那么有可能随即被判断为某一个市场</td>
       
        </tr>
        <tr>
          
          <td>未包含HB、GB、GS、QB 字符的文件，数据有可能会漏掉</td>
       
        </tr>
        <tr>
         
          <td>文件内如果包含 转让盈亏 ,以此列为准;如果不包含计算公式为：即期保证金+订货净亏损+当日可用资金+交易手续费-期初资金-入金</td>
      
      
        </tr>

        <tr>
          
          <td> 请确保文件中应为数字的内容，不要存在字符 </td>
       
        </tr>
        <tr>
       
          <td> 请将所有要入库的文件存放在\static\csv  路径下即可 </td>
       
        </tr>
            <tr>
        
          <td> </td>
 
        
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        
      </div>
    </div>
  </div>
</div>



<div class="col-xs-12 col-sm-12 widget-container-col ui-sortable" id="widget-container-col-8">
        <div class="widget-box  widget-color-dark ui-sortable-handle" id="widget-box-8" style="border:0px">
                                                <div class="widget-header" style="margin:0px auto;text-align:center;">
                                                    <h5 class="widget-title bigger lighter" ><a style="font-weight:bold;font-size:25px;color: #FFD700">W.R</a></h5>

                                                 

                                                     
                                                <div class="widget-toolbar">
                                                        <button class="badge badge-danger"  >说明</button>

                                                       

 
                                                    </div>
                                                    
                                                </div>
                                                 <div class="widget-body">




                                        {% if res =="" %}
   

                                        <a href="/clac_config"   class="btn btn-app btn-success" onclick="this.style.display='none';div1.style.display=''">
                                            <i class="ace-icon fa fa-refresh bigger-230"></i>
                                            导入
                                        </a>
                                        <a href="/clac_config" id="div1" class="btn btn-default btn-app " readonly style="display: none">
                                            <i class="ace-icon fa fa-refresh bigger-230"></i>
                                            导入中...
                                        </a>

                                        {% elif res==1 %}
                                        
                                        <div class="alert alert-block alert-success">
                                                                    <button type="button" class="close" data-dismiss="alert">
                                                                        <i class="ace-icon fa fa-times"></i>
                                                                    </button>

                                                                    <i class="ace-icon fa fa-check green"></i>

                                                                    已经
                                                                    <strong class="green">
                                                                         
                                                                        <small>计算完成</small>
                                                                    </strong>
                                                                    用时{{time}}
                                                                </div>

                                        {% elif res==-1 %}
                                        <div class="alert alert-block alert-info">
                                                                    <button type="button" class="close" data-dismiss="alert">
                                                                        <i class="ace-icon fa fa-times"></i>
                                                                    </button>

                                                                    <i class="ace-icon fa  fa-bolt red"></i>

                                                                    计算失败
                                                                    <strong class="red">
                                                                         
                                                                        <small>失败原因</small>
                                                                    </strong>
                                                                    {{time}}
                                                                </div>

                                        {% endif %}

                                                 </div>
</div>
</div>

                              
{% endblock content %}



