{% extends "base.html" %}
{% block content %}
 
<link rel="stylesheet" href="/static/css/bootstrap-table.css">
<link rel="stylesheet" href="/static/css/select2.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/bootstrap-table-group-by.js"></script>

<style type="text/css">
.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}
</style>
<script src="/static/js/select2.min.js"></script>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/clac">款项明细</a>
        </li>

        <!--<li>-->
            <!--<a href="#">渠道明细</a>-->
        <!--</li>-->
        <!--<li class="active">iOS-渠道-明细</li>-->
    </ul><!-- /.breadcrumb -->
</div>

<div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="header smaller lighter green">款项明细报表</h3>
 
                                                                           
                                    </div>
                                </div>
</div><!-- PAGE CONTENT ENDS -->
                
<div class="col-xs-12 col-sm-12 widget-container-col ui-sortable" id="widget-container-col-8">
                                            
                                        <div class="widget-box widget-color-dark ui-sortable-handle" id="widget-box-8">
                                                <div class="widget-header" style="margin:0px auto;text-align:center;">
                                                    <h5 class="widget-title bigger lighter" ><a style="font-weight:bold;font-size:25px;color: #FFD700">W.R</a></h5>

                                                 

                                                     
                                                <div class="widget-toolbar">

                                                <span class="badge badge-danger">说明</span>

                                                       

                                                        <a href="#" data-action="reload">
                                                            <i class="ace-icon fa fa-refresh" onclick="chaxun();"></i>
                                                        </a>

                                                        <a href="#" data-action="collapse">
                                                            <i class="ace-icon fa fa-chevron-up"></i>
                                                        </a>

 
                                                    </div>
                                                    
                                                </div>

                                                <div class="widget-body">
                                                    <div class="widget-toolbox" id="widget-toolbox-1">
                                                    
                                                        <div class="btn-toolbar">
                                                             
                            
                                              
                                             <div class="btn-group">
                                           <div>
                                                            <select multiple="" name="state" class="select2 tag-input-style select2-hidden-accessible" data-placeholder="请选择归属人" style="min-width: 150px;" tabindex="-1" aria-hidden="true" id="person_">
                                                                 {% for r in jsons_ -%}
                                                                 <option value={{r}}>{{r}}</option>

                                                                 {%- endfor %}
                                                               
                                                            </select>
                                                        </div>
                                            </div>

                     <div class="btn-group">
                                           <div>
                                                            <select multiple="" name="state" class="select2 tag-input-style select2-hidden-accessible" data-placeholder="请选择日期" style="min-width: 150px;" tabindex="-1" aria-hidden="true" id="date_">
                                                                {% for r in dates_ -%}
                                                                 <option value={{r}}>{{r}}</option>

                                                                 {%- endfor %}
                                                               
                                                            </select>
                                                            </select>
                                                        </div>
                                            </div>

                                           <select class="select2 tag-input-style select2-hidden-accessible js-example-data-array-selected"></select>
                                           <div class="btn-group">
                                           <button id="chaxun" class="btn btn-sm btn-inverse" onclick="chaxun();">查询</button>


                                                                                     
                                            </div>
                                         

                                            </div>


  

                                                            </div>
    
                                                         
                                                    </div>

                            <table id="table"
               data-toggle="table"
               
               data-row-style="rowStyle">
            <thead>
            <tr>
                <th colspan="9"   ><font size="3" >新疆汇宝</font></th>
                 <!-- hb -->
            </tr>
            <tr>
                <th class="label-inverse" data-field="trade_id"  data-formatter="mark" ><font size="2" color="#FFD700" class="my-parent-style-good">交易商编号</font></th>
                <th class="label-inverse" data-field="trade_name"  data-formatter="mark" ><font size="2" color="#FFD700">交易商姓名</font></th>
                <th class="label-inverse" data-field="commission" data-formatter="mark" ><font size="2" color="#FFD700">手续费</font></th>
                <th class="label-inverse" data-field="agent_name_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣人</font></th>
                <th class="label-inverse" data-field="m_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣人</font></th>
                <th class="label-inverse" data-field="m_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣人</font></th>
                <th class="label-inverse" data-field="m_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣金额</font></th>
               
            </tr>
            </thead>
        </table>

                            <table id="table2"
               data-toggle="table"
               
               data-row-style="rowStyle">
            <thead>
            <tr>
                <th colspan="9"   ><font size="3" >贵州西部</font></th>
                                 <!-- gn -->

            </tr>
            <tr>
                <th class="label-inverse" data-field="trade_id"  data-formatter="mark" ><font size="2" color="#FFD700" class="my-parent-style-good">交易商编号</font></th>
                <th class="label-inverse" data-field="trade_name"  data-formatter="mark" ><font size="2" color="#FFD700">交易商姓名</font></th>
                <th class="label-inverse" data-field="commission" data-formatter="mark" ><font size="2" color="#FFD700">手续费</font></th>
                <th class="label-inverse" data-field="agent_name_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣人</font></th>
                <th class="label-inverse" data-field="m_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣人</font></th>
                <th class="label-inverse" data-field="m_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣人</font></th>
                <th class="label-inverse" data-field="m_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣金额</font></th>
               
            </tr>
            </thead>
        </table>

                            <table id="table3"
               data-toggle="table"
               
               data-row-style="rowStyle">
            <thead>
            <tr>
                <th colspan="9"   ><font size="3" >寿光果蔬</font></th> 
                    <!-- GS -->
            </tr>
            <tr>
                <th class="label-inverse" data-field="trade_id"  data-formatter="mark" ><font size="2" color="#FFD700" class="my-parent-style-good">交易商编号</font></th>
                <th class="label-inverse" data-field="trade_name"  data-formatter="mark" ><font size="2" color="#FFD700">交易商姓名</font></th>
                <th class="label-inverse" data-field="commission" data-formatter="mark" ><font size="2" color="#FFD700">手续费</font></th>
                <th class="label-inverse" data-field="agent_name_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣人</font></th>
                <th class="label-inverse" data-field="m_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣人</font></th>
                <th class="label-inverse" data-field="m_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣人</font></th>
                <th class="label-inverse" data-field="m_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣金额</font></th>
               
            </tr>
            </thead>
        </table>



                  <table id="table4"
               data-toggle="table"
               
               data-row-style="rowStyle">
            <thead>
            <tr>
                <th colspan="9"   ><font size="3" >青岛北方</font></th>
                 <!-- QB -->
            </tr>
            <tr>
                <th class="label-inverse" data-field="trade_id"  data-formatter="mark" ><font size="2" color="#FFD700" class="my-parent-style-good">交易商编号</font></th>
                <th class="label-inverse" data-field="trade_name"  data-formatter="mark" ><font size="2" color="#FFD700">交易商姓名</font></th>
                <th class="label-inverse" data-field="commission" data-formatter="mark" ><font size="2" color="#FFD700">手续费</font></th>
                <th class="label-inverse" data-field="agent_name_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣人</font></th>
                <th class="label-inverse" data-field="m_1" data-formatter="mark" ><font size="2" color="#FFD700">I级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣人</font></th>
                <th class="label-inverse" data-field="m_2" data-formatter="mark" ><font size="2" color="#FFD700">II级返佣金额</font></th>
                <th class="label-inverse" data-field="agent_name_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣人</font></th>
                <th class="label-inverse" data-field="m_3" data-formatter="mark" ><font size="2" color="#FFD700">III级返佣金额</font></th>
               
            </tr>
            </thead>
        </table>



                                                    </div>
                                                </div>
                                            </div>
                                            </div>

<script>




    $(document).ready(function() {
    $('.select2').select2({multiple:false });
});


    function rowStyle(row, index) {
    
    
            return {
               css:{'background':'#FFFFFF'}
            };
  
    }


    function mark(value,row) {

     
            if (value=="None") {return benchmark("","normal")} 
            return benchmark(value,"normal")
 

    }


</script>

<script>

    function toDecimal(x){

    var f=parseFloat(x);
    if (isNaN(f) || f==""){return 0;}
    f=Math.round(x*100)/100;
    return f;

    }

    


    $("#table").on('load-success.bs.table',function heji(){
            var sum_m1=0;
            var sum_m2=0;
            var sum_m3=0;
            var table=$("#table");
            date_=table.bootstrapTable('getData');
             
            for (var i = 0; i < date_.length; i++) {
                
                sum_m1=sum_m1+parseFloat(date_[i]["m_1"]);
                sum_m2=sum_m2+parseFloat(date_[i]["m_2"]);
                sum_m3=sum_m3+parseFloat(date_[i]["m_3"]);

            };
            

             table.bootstrapTable('insertRow', {
                index: date_.length,
                row: {
                    trade_id:'合计',
                    m_1:toDecimal(sum_m1),
                    m_2:toDecimal(sum_m2),
                    m_3:toDecimal(sum_m3),
                    agent_name_1:'',
                    agent_name_2:'',
                    agent_name_3:''
                }
            });


             table.bootstrapTable('mergeCells', {
                index: date_.length-1,
                field:'trade_id',
                colspan:4
            });
       
    });
 


$("#table2").on('load-success.bs.table',function heji(){
            var sum_m1=0;
            var sum_m2=0;
            var sum_m3=0;
            var table=$("#table2");
            date_=table.bootstrapTable('getData');
             
            for (var i = 0; i < date_.length; i++) {
                
                sum_m1=sum_m1+parseFloat(date_[i]["m_1"]);
                sum_m2=sum_m2+parseFloat(date_[i]["m_2"]);
                sum_m3=sum_m3+parseFloat(date_[i]["m_3"]);

            };
            

             table.bootstrapTable('insertRow', {
                index: date_.length,
                row: {
                    trade_id:'合计',
                    m_1:toDecimal(sum_m1),
                    m_2:toDecimal(sum_m2),
                    m_3:toDecimal(sum_m3),
                    agent_name_1:'',
                    agent_name_2:'',
                    agent_name_3:''
                }
            });


             table.bootstrapTable('mergeCells', {
                index: date_.length-1,
                field:'trade_id',
                colspan:4
            });
       
    });

$("#table3").on('load-success.bs.table',function heji(){
            var sum_m1=0;
            var sum_m2=0;
            var sum_m3=0;
            var table=$("#table3");
            date_=table.bootstrapTable('getData');
             
            for (var i = 0; i < date_.length; i++) {
                
                sum_m1=sum_m1+parseFloat(date_[i]["m_1"]);
                sum_m2=sum_m2+parseFloat(date_[i]["m_2"]);
                sum_m3=sum_m3+parseFloat(date_[i]["m_3"]);

            };
            

             table.bootstrapTable('insertRow', {
                index: date_.length,
                row: {
                    trade_id:'合计',
                    m_1:toDecimal(sum_m1),
                    m_2:toDecimal(sum_m2),
                    m_3:toDecimal(sum_m3),
                    agent_name_1:'',
                    agent_name_2:'',
                    agent_name_3:''
                }
            });


             table.bootstrapTable('mergeCells', {
                index: date_.length-1,
                field:'trade_id',
                colspan:4
            });
       
    });
$("#table4").on('load-success.bs.table',function heji(){
            var sum_m1=0;
            var sum_m2=0;
            var sum_m3=0;
            var table=$("#table4");
            date_=table.bootstrapTable('getData');
             
            for (var i = 0; i < date_.length; i++) {
                
                sum_m1=sum_m1+parseFloat(date_[i]["m_1"]);
                sum_m2=sum_m2+parseFloat(date_[i]["m_2"]);
                sum_m3=sum_m3+parseFloat(date_[i]["m_3"]);

            };
            

             table.bootstrapTable('insertRow', {
                index: date_.length,
                row: {
                    trade_id:'合计',
                    m_1:toDecimal(sum_m1),
                    m_2:toDecimal(sum_m2),
                    m_3:toDecimal(sum_m3),
                    agent_name_1:'',
                    agent_name_2:'',
                    agent_name_3:''
                }
            });


             table.bootstrapTable('mergeCells', {
                index: date_.length-1,
                field:'trade_id',
                colspan:4
            });
       
    });
   function chaxun(){




        $("#table").bootstrapTable('refresh',{url: "/detail_json?filename=HB&person="+$("#person_").select2("data")[0].text+"&date="+$("#date_").select2("data")[0].text });
        $("#table2").bootstrapTable('refresh',{url: "/detail_json?filename=GN&person="+$("#person_").select2("data")[0].text+"&date="+$("#date_").select2("data")[0].text });
        $("#table3").bootstrapTable('refresh',{url: "/detail_json?filename=GS&person="+$("#person_").select2("data")[0].text+"&date="+$("#date_").select2("data")[0].text }); 
        $("#table4").bootstrapTable('refresh',{url: "/detail_json?filename=QB&person="+$("#person_").select2("data")[0].text+"&date="+$("#date_").select2("data")[0].text });

}


    function benchmark(context,type){


        switch (type)
        {
        case "good":
          return '<div class="my-parent-style-good"><b>' + context + '</b></div>'

          break;
        case "normal":
          return '<div class="my-parent-style-normal"><b>' + context + '</b></div>'
          break;
        case "bad":
         return '<div class="my-parent-style-bad"><b>' + context + '</b></div>'
          break;
        default:
          return context;

        }


    }

    window.onload=function bilibili(){
     
        $($(".my-parent-style-good").parent("td")).css({ color: "#FFFFFF", background: "#00d9b8" });
        $($(".my-parent-style-normal").parent("td")).css({ color: "#000000", background: "#FFFFFF" });
        $($(".my-parent-style-bad").parent("td")).css({ color: "#000000", background: "#FFFFFF" });

    }
   
</script>



{% endblock content %}