{% extends "base.html" %}
{% block content %}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">首页</a>
        </li>

        <li>
            <a href="#">渠道明细</a>
        </li>
        <li class="active">iOS-整体-ROI</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <script type="text/javascript" src="/static/js/bootstrap-table.js?123e"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">


    <script>document.write('<table id="table" data-height=' + ($(window).height() - 200) + ' " ');</script>

        data-toggle="table"
        data-url="/static/json/roi.json?{{ sjs }}"
        data-flat="true"
        class="table  table-bordered"

        data-page-size="100"
        data-page-list="[100, 200,500,1000,2000]"
        data-show-columns="false"

        data-show-multi-sort="true"

        data-pagination="true"
        data-sort-priority='[{"sortName":"1","sortOrder":"desc"},{"sortName":"4","sortOrder":"asc"},{"sortName":"1","sortOrder":"desc"}]'
    >
    <thead>


    <tr>
        <th data-field="1" data-sortable="true">
            　　总计<br><br>日期　　
        </th>
        <th data-field="2" data-sortable="true">
            1232<br><br>点击设备
        </th>
        <th data-field="3" data-sortable="true">
            123123<br><br>激活设备
        </th>
        <th data-field="4" data-sortable="true">
            123423<br><br>新增设备
        </th>
        <th data-field="8" data-sortable="true">
            78788<br><br>新增账号
        </th>
        <th data-field="9" data-sortable="true">
            238467<br><br>新增付费
        </th>
        <th data-field="10" data-sortable="true">
            234234<br><br>付费金额
        </th>
        <th data-field="11" data-sortable="true">
            235345<br><br>付费率
        </th>
        <th data-field="cpa" data-sortable="true">
            C234234<br><br>CPA
        </th>
        <th data-field="13" data-sortable="true">
            23423<br><br>花费金额
        </th>
        <th data-field="120" data-sortable="true">
            第一周<br>2.00%<br>+0 回收
        </th>
        <th data-field="121" data-sortable="true">
            第一周<br>4.00%<br>+1 回收
        </th>
        <th data-field="122" data-sortable="true">
            第一周<br>6.00%<br>+2 回收
        </th>
        <th data-field="123" data-sortable="true">
            第一周<br>8.00%<br>+3 回收
        </th>
        <th data-field="124" data-sortable="true">
            第一周<br>10.00%<br>+4 回收
        </th>
        <th data-field="125" data-sortable="true">
            第一周<br>12.00%<br>+5 回收
        </th>
        <th data-field="126" data-sortable="true">
            第一周<br>14.00%<br>+6 回收
        </th><th data-field="120" data-sortable="true">
            第二周<br>2.00%<br>+0 回收
        </th>
        <th data-field="121" data-sortable="true">
            第二周<br>4.00%<br>+1 回收
        </th>
        <th data-field="122" data-sortable="true">
            第二周<br>6.00%<br>+2 回收
        </th>
        <th data-field="123" data-sortable="true">
            第二周<br>8.00%<br>+3 回收
        </th>
        <th data-field="124" data-sortable="true">
            第二周<br>10.00%<br>+4 回收
        </th>
        <th data-field="125" data-sortable="true">
            第二周<br>12.00%<br>+5 回收
        </th>
        <th data-field="126" data-sortable="true">
            第二周<br>14.00%<br>+6 回收
        </th>
        <th data-field="127" data-sortable="true">
            累计分成后回收
        </th>
        
    </tr>
    </thead>
    </table>

</div><!-- /.page-content -->

{% endblock content %}