{% extends "base.html" %}
{% block content %}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">首页</a>
        </li>

        <li>
            <a href="#">投放分析</a>
        </li>
        <li class="active">iOS-整体-ROI</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <script type="text/javascript" src="/static/js/bootstrap-table.js?123e"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">

    <div class="blue smaller" style="padding:3px">选择要显示的Week:</div>
    <div style="padding:5px">
        <span class="showweek badge badge-primary">01</span>
        <span class="showweek badge badge-primary">02</span>
        <span class="showweek badge badge-primary">03</span>
        <span class="showweek badge badge-primary">04</span>
        <span class="showweek badge badge-primary">05</span>
        <span class="showweek badge badge-primary">06</span>
        <span class="showweek badge badge-primary">07</span>
        <span class="showweek badge badge-primary">08</span>
        <span class="showweek badge badge-primary">09</span>
        <span class="showweek badge badge-primary">10</span>
        <span class="showweek badge badge-primary">11</span>
        <span class="showweek badge badge-primary">12</span>
        <span class="showweek badge badge-primary">13</span>
        <span class="showweek badge badge-primary">14</span>
        <span class="showweek badge badge-primary">15</span>
        <span class="showweek badge badge-primary">16</span>
        <span class="showweek badge badge-primary">17</span>
        <span class="showweek badge badge-primary">18</span>
        <span class="showweek badge badge-primary">19</span>
        <span class="showweek badge badge-primary">20</span>
        <span class="showweek badge badge-primary">21</span>
        <span class="showweek badge badge-primary">22</span>
        <span class="showweek badge badge-primary">23</span>
        <span class="showweek badge badge-primary">24</span>
        <span class="showweek badge badge-primary">25</span>
        <span class="showweek badge badge-primary">26</span>
        <span class="showweek badge badge-primary">27</span>
        <span class="showweek badge badge-primary">28</span>
        <span class="showweek badge badge-primary">29</span>

    </div>

    <script>document.write('<table id="table" data-height=' + ($(window).height() - 200) + ' " ');</script>

        data-toggle="table"
        data-url="/static/json/roi.json?{{ sjs }}"
        data-flat="true"
        class="table  table-bordered"

        data-page-size="20"
        data-page-list="[100, 200,500,1000,2000]"
        data-show-columns="false"

        data-show-multi-sort="true"

        data-pagination="true"
        data-sort-priority='[{"sortName":"1","sortOrder":"desc"},{"sortName":"4","sortOrder":"asc"},{"sortName":"1","sortOrder":"desc"}]'
    >
    <thead>


    <tr>
        <th data-field="1" data-sortable="true">
            <b class="main">　　总计<br><br>日期　　</b>
        </th>
        <th data-field="2" data-sortable="true">
            <b class="main">1232<br><br>点击设备</b>
        </th>
        <th data-field="3" data-sortable="true">
            <b class="main">123123<br><br>激活设备</b>
        </th>
        <th data-field="4" data-sortable="true">
            <b class="main">123423<br><br>新增设备</b>
        </th>
        <th data-field="8" data-sortable="true">
            <b class="main">78788<br><br>新增账号</b>
        </th>
        <th data-field="9" data-sortable="true">
            <b class="main">238467<br><br>新增付费</b>
        </th>
        <th data-field="10" data-sortable="true">
            <b class="main">234234<br><br>付费金额</b>
        </th>
        <th data-field="11" data-sortable="true">
            <b class="main">235345<br><br>付费率</b>
        </th>
        <th data-field="cpa" data-sortable="true">
            <b class="main">C234234<br><br>CPA</b>
        </th>
        <th data-field="13" data-sortable="true">
            <b class="main">23423<br><br>花费金额</b>
        </th>

<!-- 第一周 -->
        <th data-field="101" data-sortable="true">
            <b class="jishu">第一周<br>2.00%<br>+0回收</b>
        </th>
        <th data-field="102" data-sortable="true">
            <b class="jishu">第一周<br>4.00%<br>+1回收</b>
        </th>
        <th data-field="103" data-sortable="true">
            <b class="jishu">第一周<br>6.00%<br>+2回收</b>
        </th>
        <th data-field="104" data-sortable="true">
            <b class="jishu">第一周<br>8.00%<br>+3回收</b>
        </th>
        <th data-field="105" data-sortable="true">
            <b class="jishu">第一周<br>10.00%<br>+4回收</b>
        </th>
        <th data-field="106" data-sortable="true">
            <b class="jishu">第一周<br>12.00%<br>+5回收</b>
        </th>
        <th data-field="107" data-sortable="true">
            <b class="jishu">第一周<br>14.00%<br>+6回收</b>
        </th>

<!-- 第二周 -->
        <th data-field="201" data-sortable="true">
            <b class="oushu">第二周<br>16.00%<br>+7回收</b>
        </th>
        <th data-field="202" data-sortable="true">
            <b class="oushu">第二周<br>18.00%<br>+8回收</b>
        </th>
        <th data-field="203" data-sortable="true">
            <b class="oushu">第二周<br>20.00%<br>+9回收</b>
        </th>
        <th data-field="204" data-sortable="true">
            <b class="oushu">第二周<br>22.00%<br>+10回收</b>
        </th>
        <th data-field="205" data-sortable="true">
            <b class="oushu">第二周<br>24.00%<br>+11回收</b>
        </th>
        <th data-field="206" data-sortable="true">
            <b class="oushu">第二周<br>26.00%<br>+12回收</b>
        </th>
        <th data-field="207" data-sortable="true">
            <b class="oushu">第二周<br>28.00%<br>+13回收</b>
        </th>

        <th data-field="3000" data-sortable="true">
            累计分成后回收
        </th>

<!-- 第一周 -->
        <th data-field="3001" data-sortable="true">
            <b class="jishu">第一周<br>2.00%<br>+0回收</b>
        </th>
        <th data-field="3002" data-sortable="true">
            <b class="jishu">第一周<br>4.00%<br>+1回收</b>
        </th>
        <th data-field="3003" data-sortable="true">
            <b class="jishu">第一周<br>6.00%<br>+2回收</b>
        </th>
        <th data-field="3004" data-sortable="true">
            <b class="jishu">第一周<br>8.00%<br>+3回收</b>
        </th>
        <th data-field="3005" data-sortable="true">
            <b class="jishu">第一周<br>10.00%<br>+4回收</b>
        </th>
        <th data-field="3006" data-sortable="true">
            <b class="jishu">第一周<br>12.00%<br>+5回收</b>
        </th>
        <th data-field="3007" data-sortable="true">
            <b class="jishu">第一周<br>14.00%<br>+6回收</b>
        </th>

    </tr>
    </thead>
    </table>

</div><!-- /.page-content -->

<!--<style>-->
    <!--.week01{ display:none;}-->
    <!--.week02{ display:none;}-->
    <!--.week03{ display:none;}-->
    <!--.week04{ display:none;}-->
    <!--.week05{ display:none;}-->
    <!--.week06{ display:none;}-->
    <!--.week07{ display:none;}-->
    <!--.week08{ display:none;}-->
    <!--.week09{ display:none;}-->
    <!--.week10{ display:none;}-->
    <!--.week11{ display:none;}-->
    <!--.week12{ display:none;}-->
    <!--.week13{ display:none;}-->
    <!--.week14{ display:none;}-->
    <!--.week15{ display:none;}-->
    <!--.week16{ display:none;}-->
    <!--.week17{ display:none;}-->
    <!--.week18{ display:none;}-->
    <!--.week19{ display:none;}-->
    <!--.week20{ display:none;}-->
    <!--.week21{ display:none;}-->
    <!--.week22{ display:none;}-->
    <!--.week23{ display:none;}-->
    <!--.week24{ display:none;}-->
    <!--.week25{ display:none;}-->
    <!--.week26{ display:none;}-->
    <!--.week27{ display:none;}-->
    <!--.week28{ display:none;}-->
    <!--.week29{ display:none;}-->
<!--</style>-->

<script>

    $(function () {
        for( var i = 100; i<3000; i++){
            $("#table").bootstrapTable('hideColumn', String( i ) );
        }

        setTimeout('$(".main").attr("style","color:#478FCA;");', 500);  //初始化main的样式
        //setTimeout('$(".jishu").attr("style","color:blue;");', 500);   //初始化jishu的样式
        //setTimeout('$(".oushu").attr("style","color:#DD5A43!important;");', 500);   //初始化oushu的样式

    });
    //showweek class 被点击时候的处理
    $(".showweek").click(function(){
        if( $(this).hasClass("badge-primary")){
            $(this).removeClass("badge-primary");  //去掉badge-primary类
            var week = $(this).text();   //获取对应week名称
            week = Number(week)*100;
            for (var i = 1; i <= 7; i++) {
                $("#table").bootstrapTable('showColumn', String( week+i ) );
            }
            setTimeout('$(".main").attr("style","color:#478FCA;");', 500);  //初始化main的样式
            setTimeout('$(".oushu").attr("style","color:#DD5A43!important;");', 500);  //重新显示以后还需要设置样式
        }else{
            $(this).addClass("badge-primary");  //添加badge-primary类
            var week = $(this).text();   //获取对应week名称
            week = Number(week)*100;
            for (var i = 1; i <= 7; i++) {
                $("#table").bootstrapTable('hideColumn', String( week+i ) );
            }
            setTimeout('$(".main").attr("style","color:#478FCA;");', 500);  //初始化main的样式

        }
    });

</script>
{% endblock content %}