{% extends "base.html" %}
{% block content %}
 
<link rel="stylesheet" href="/static/css/bootstrap-table.css">
<script src="/static/js/jquery.min.js"></script>
 
<script src="/static/js/bootstrap-table.js"></script>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/clac">款项明细</a>
        </li>

        <!--<li>-->
            <!--<a href="#">渠道明细</a>-->
        <!--</li>-->
        <!--<li class="active">iOS-渠道-明细</li>-->
    </ul><!-- /.breadcrumb -->
</div>

<div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="header smaller lighter green">款项明细报表</h3>
 
                                            <div class="btn-group">
                                                <button class="btn btn-inverse">Inverse</button>

                                                <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle" aria-expanded="true">
                                                    <span class="ace-icon fa fa-caret-down icon-only"></span>
                                                </button>

                                                <ul class="dropdown-menu dropdown-inverse">
                                                    <li>
                                                        <a href="#">Action</a>
                                                    </li>

                                                    <li>
                                                        <a href="#">Another action</a>
                                                    </li>

                                                    <li>
                                                        <a href="#">Something else here</a>
                                                    </li>

                                                    <li class="divider"></li>

                                                    <li>
                                                        <a href="#">Separated link</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.btn-group -->
                                        </div>
                        
</div><!-- PAGE CONTENT ENDS -->
                
</div>
{% endblock content %}