{% extends "base.html" %}
{% block content %}
 
<link rel="stylesheet" href="/static/css/bootstrap-table.css">
<link rel="stylesheet" href="/static/css/select2.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap-table.js"></script>
<script src="/static/js/bootstrap-table-group-by.js"></script>

<style type="text/css">
.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}
</style>
<script src="/static/js/select2.min.js"></script>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/static">汇总呈现</a>
        </li>

        <!--<li>-->
            <!--<a href="#">渠道明细</a>-->
        <!--</li>-->
        <!--<li class="active">iOS-渠道-明细</li>-->
    </ul><!-- /.breadcrumb -->
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">使用说明</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
      <thead>
        <tr>
          
          <th>具体内容</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>归属人选项框内为所有目前记录的归属人合集,可以选择全部</td>

        </tr>
        <tr>
         
          <td>开始日期和结束日期为目前入库的记录的所有日期,当不选的时候，为显示全部日期</td>
 
        </tr>
        <tr>
         
          <td>所有数字以excel导入数据保留小数位为准，但是合计数字保留两位小数</td>
       
        </tr>
        <tr>
          
          <td>归属人查询条件中有一条【待定】，选择后会查出所有记录中未能匹配归属人的总数</td>
       
        </tr>
        <tr>
         
          <td>【待定】的条目，由于不存在归属和返佣配置，所有待定的条目公司利润和公司垫资为空</td>
      
      
        </tr>
 
    
            <tr>
        
          <td> </td>
 
        
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="header smaller lighter green">汇总查询报表</h3>
 
                                                                           
                                    </div>
                                </div>
</div><!-- PAGE CONTENT ENDS -->
                
<div class="col-xs-12 col-sm-12 widget-container-col ui-sortable" id="widget-container-col-8">
                                            
                                        <div class="widget-box widget-color-dark ui-sortable-handle" id="widget-box-8">
                                                <div class="widget-header" style="margin:0px auto;text-align:center;">
                                                    <h5 class="widget-title bigger lighter" ><a style="font-weight:bold;font-size:25px;color: #77FF55">W.R</a></h5>

                                                 

                                                     
                                                <div class="widget-toolbar">

                                           
                                                <button class="badge badge-danger"  data-toggle="modal" data-target="#myModal">说明</button>


                                                       

                                                        <a href="#" data-action="reload">
                                                            <i class="ace-icon fa fa-refresh" onclick="chaxun();"></i>
                                                        </a>

                                                        <a href="#" data-action="collapse">
                                                            <i class="ace-icon fa fa-chevron-up"></i>
                                                        </a>

 
                                                    </div>
                                                    
                                                </div>

                                                <div class="widget-body">
                                                    <div class="widget-toolbox" id="widget-toolbox-1">
                                                    
                                                        <div class="btn-toolbar">
                                             <div class="btn-group">
                                           <div>
                                              <select multiple="" name="state" class="select2 tag-input-style select2-hidden-accessible" data-placeholder="请选择市场" style="min-width: 150px;" tabindex="-1" aria-hidden="true" id="filename_">
                                                                 {% for r in files_ -%}
                                                                 <option value={{r}}>{{r}}</option>

                                                                 {%- endfor %}
                                                               
                                                            </select>
                                                        </div>
                                            </div>                                                             
                            
                                               <div class="btn-group">
                                           <div>
                                              <select multiple="" name="state" class="select2 tag-input-style select2-hidden-accessible" data-placeholder="请选择是否配资" style="min-width: 150px;" tabindex="-1" aria-hidden="true" id="all_">
                                                                 
                                                                 <option value='all'>配资与非配资</option>
                                                                 <option value='配资'>配资</option>
                                                                 <option value='非配资'>非配资</option>
                                                               
                                                            </select>
                                                        </div>
                                            </div>                                               
                                             <div class="btn-group">
                                           <div>
                                           <select multiple="" name="state" class="select2 tag-input-style select2-hidden-accessible" data-placeholder="请选择归属人" style="min-width: 150px;" tabindex="-1" aria-hidden="true" id="person_">
                                                                <option value="全部归属人">全部归属人</option>

                                                                 {% for r in jsons_ -%}
                                                                 <option value={{r}}>{{r}}</option>

                                                                 {%- endfor %}
                                                               
                                                            </select>
                                                        </div>
                                            </div>

                     <div class="btn-group">
                                           <div>
                                                            <select multiple="" name="state" class="select2 tag-input-style select2-hidden-accessible" data-placeholder="请选择开始日期" style="min-width: 150px;" tabindex="-1" aria-hidden="true" id="date_start">
                                                               <option value='开始日期'>开始日期</option>
                                                                {% for r in dates_ -%}
                                                                 <option value={{r}}>{{r}}</option>

                                                                 {%- endfor %}
                                                               
                                                            </select>
                                                             
                                                        </div>
                                            </div>

                     <div class="btn-group">
                                           <div>
                                                            <select multiple="" name="state" class="select2 tag-input-style select2-hidden-accessible" data-placeholder="请选择结束日期" style="min-width: 150px;" tabindex="-1" aria-hidden="true" id="date_end">
                                                                <option value='结束日期'>结束日期</option>
                                                                {% for r in dates_ -%}
                                                                 <option value={{r}}>{{r}}</option>

                                                                 {%- endfor %}
                                                               
                                                            </select>
                                                             
                                                        </div>
                                            </div>
                                           <select class="select2 tag-input-style select2-hidden-accessible js-example-data-array-selected"></select>
                                           <div class="btn-group">
                                           <button id="chaxun" class="btn btn-sm btn-inverse" onclick="chaxun();">查询</button>


                                                                                     
                                            </div>
                                         

                                            </div>


  

                                                            </div>
    
                                                         
                                                    </div>

                            <table id="table"
               data-toggle="table"
               
               data-row-style="rowStyle">
            <thead>
            <tr>
                <th colspan="11"   ><font size="3" >汇总数据   </font>  <font size="3" id="date_show">   </font>  </th>
                 <!-- hb -->
            </tr>
            <tr>
         <!--        <th class="label-inverse" data-field="date"  ><font size="2" color="#FFD700" class="my-parent-style-good">日期</font></th> -->
                <th class="label-inverse" data-field="class_name"   ><font size="2" color="#FFD700">归属姓名</font></th>
                <th class="label-inverse" data-field="all_"   ><font size="2" color="#FFD700">配资情况</font></th>
                <th class="label-inverse" data-field="filename" ><font size="2" color="#FFD700">交易市场</font></th>
                <th class="label-inverse" data-field="money_in" data-formatter="mark" ><font size="2" color="#FFD700">入金</font></th>
                <th class="label-inverse" data-field="money_out" data-formatter="mark" ><font size="2" color="#FFD700">出金</font></th>
                <th class="label-inverse" data-field="Transfer" data-formatter="mark" ><font size="2" color="#FFD700">转让盈亏</font></th>
                <th class="label-inverse" data-field="commission" data-formatter="mark" ><font size="2" color="#FFD700">手续费</font></th>
                <th class="label-inverse" data-field="equity" data-formatter="mark" ><font size="2" color="#FFD700">权益资金</font></th>
                <th class="label-inverse" data-field="liushui" data-formatter="mark" ><font size="2" color="#FFD700">公司利润</font></th>
                <th class="label-inverse" data-field="dianzi" data-formatter="mark" ><font size="2" color="#FFD700">公司垫资</font></th>
            </tr>
            </thead>
        </table>

               







                                                    </div>
                                                </div>
                                            </div>
                                            </div>

<script>




    $(document).ready(function() {
    $('.select2').select2({multiple:false });
});


    function rowStyle(row, index) {
    
    
            return {
                css:{'background':'#393939','color':'#77FF55'}

            };
  
    }


    function mark(value,row) {

     
            if (value=="None") {return benchmark("","normal")} 
            return benchmark(toDecimal(value),"normal")
 

    }


</script>

<script>

    function toDecimal(x){

    var f=parseFloat(x);
    if (isNaN(f) || f==""){return 0;}
    f=Math.round(x*100)/100;
    return f;

    }

    


 
    $("#table").on('load-success.bs.table',function heji(){
            var sum_money_in=0;
            var sum_money_out=0;
            var sum_Transfer=0;
            var sum_commission=0;
            var sum_equity=0;
            var sum_liushui=0;
            var sum_dianzi=0;
            var table=$("#table");
            date_=table.bootstrapTable('getData');
             
            for (var i = 0; i < date_.length; i++) {
            
                sum_money_in+=toDecimal(date_[i]["money_in"]);
                sum_money_out+=toDecimal(date_[i]["money_out"]);
                sum_Transfer+=toDecimal(date_[i]["Transfer"]);
                sum_commission+=toDecimal(date_[i]["commission"]);
                sum_equity+=toDecimal(date_[i]["equity"]);
                sum_liushui+=toDecimal(date_[i]["liushui"]);
                sum_dianzi+=toDecimal(date_[i]["dianzi"]);



            };
            

             table.bootstrapTable('insertRow', {
                index: date_.length,
                row: {
                    class_name:'合计',
                    money_in:toDecimal(sum_money_in),
                    money_out:toDecimal(sum_money_out),
                    Transfer:toDecimal(sum_Transfer),
                    commission:toDecimal(sum_commission),
                    equity:toDecimal(sum_equity),
                    liushui:toDecimal(sum_liushui),
                    dianzi:toDecimal(sum_dianzi),
                }
            });


             table.bootstrapTable('mergeCells', {
                index: date_.length-1,
                field:'class_name',
                colspan:3
            });
       
    });

   function chaxun(){




        $("#table").bootstrapTable('refresh',{url: "/static_json?person="+$("#person_").select2("data")[0].text+"&date_start="+$("#date_start").select2("data")[0].text+"&date_end="+$("#date_end").select2("data")[0].text+"&filename="+$("#filename_").select2("data")[0].text+"&all_="+$("#all_").select2("data")[0].text});
        document.getElementById('date_show').innerHTML = $("#date_start").select2("data")[0].text +" ~ "+$("#date_end").select2("data")[0].text;

}


    function benchmark(context,type){


        switch (type)
        {
        case "good":
          return '<div class="my-parent-style-good"><b>' + context + '</b></div>'

          break;
        case "normal":
          return '<div class="my-parent-style-normal"><b>' + context + '</b></div>'
          break;
        case "bad":
         return '<div class="my-parent-style-bad"><b>' + context + '</b></div>'
          break;
        default:
          return context;

        }


    }

    window.onload=function bilibili(){
     
        $($(".my-parent-style-good").parent("td")).css({ color: "#FFFFFF", background: "#00d9b8" });
        $($(".my-parent-style-normal").parent("td")).css({ color: "#FFFFFF", background: "#FFFFFF" });
        $($(".my-parent-style-bad").parent("td")).css({ color: "#000000", background: "#FFFFFF" });

    }
   
</script>



{% endblock content %}