<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <link href="/static/css/Fliter.css" rel="stylesheet" />
    <script src="/static/js/Filter.js"></script>
</head>
<body>

<!--<h4>筛选</h4>-->
<div id="demo1"></div>
<div id="demo2"></div>
<div id="demo3"></div>
<div id="demo4"></div>

<button id="chaxun">查询</button>
<script type="text/javascript">
var newValue1;
var data=[
    {
        "id": 1,
        "text": 1
    },
    {
        "id": 2,
        "text": 2
    },
    {
        "id": "3",
        "text": 3
    },
    {
        "id": 4,
        "text": 4
    },
    {
        "id": 5,
        "text": 5
    },
    {
        "id": 6,
        "text": "呜呜"
    }];

	 var demo1 = $('#demo1').comboboxfilter({
        url: '',
        text: "等等",
		scope: 'FilterQuery3',
		data:data,
		onChange:function(newValue){
		$('#demo10').val(newValue);
		newValue1 = newValue;
		}
    });
    var demo2 = $('#demo2').comboboxfilter({
          url: '',
          text: "等等我才",
          scope: 'FilterQuery3',
          multiple: true,
          data:data,
          onChange:function(newValue){
          $('#demo20').val(newValue);
          }
    });
    var demo3 = $('#demo3').comboboxfilter({
          url: '',
          text: "哈喽",
          scope: 'FilterQuery3',
          multiple: true,
          data:data,
          onChange:function(newValue){
          $('#demo30').val(newValue);
          }
    });
    var demo4 = $('#demo4').comboboxfilter({
          url: '',
          text: "店铺",
          scope: 'FilterQuery3',
          multiple: true,
          data:data,
          onChange:function(newValue){
          $('#demo40').val(newValue);
          }
    });

    $("#chaxun").click(function(){
        console.log(demo1.returnValue($("#demo1")));
        console.log(demo2.returnValue($("#demo2")));
        console.log(demo3.returnValue($("#demo3")));
        console.log(demo4.returnValue($("#demo4")));

    });

</script>
</body>
</html>


