<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>DB Platform</title>

    <meta name="description" content="User login page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/static/ace/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/ace/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="/static/ace/css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/static/ace/css/ace.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace/css/ace-part2.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/static/ace/css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/ace/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/static/ace/js/html5shiv.min.js"></script>
    <script src="/static/ace/js/respond.min.js"></script>
    <![endif]-->
</head>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">product backlog |  更新记录</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>user story</th>
          <th>update time</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>

          <tr>
          <th scope="row">1.1</th>
          <td>增加制定大区表内，特定会员编号的那一行不做录入计算</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
          <tr>
          <th scope="row">1.1</th>
          <td>去掉文件夹和文件内日期的对比</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>

          <tr>
          <th scope="row">1.1</th>
          <td>明细数据入库的时候增加一个日期文件夹层，并且判断文件夹日期和文件内日期对比</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>

            <tr>
          <th scope="row">1.1</th>
          <td>入库的时候明确提示下这次成功了几个文件</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
                  <tr>
          <th scope="row">1.1</th>
          <td>增加一个返佣人返佣比例导入功能</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
            <tr>
          <th scope="row">1.1</th>
          <td>汇总页面改为，开始查询时间和结束查询时间的间隔查询，并且查询结果中不显示日期项</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
 
      <tr>
          <th scope="row">1.1</th>
          <td>汇总页面增加可以筛选全部归属人</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
 
      <tr>
          <th scope="row">1.1</th>
          <td>将明细页1个列表拆分成4个，并且提供一个总的合计</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
  
      <tr>
          <th scope="row">1.1</th>
          <td>将明细页4个列表合成1个</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
      <tr>
          <th scope="row">1.1</th>
          <td>QB的所有原有总返比例+1</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
<tr>
          <th scope="row">1.1</th>
          <td>文件入库的时候，每次备份并且删除当次文件</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.1</th>
          <td>详情查询的时候过滤所有手续费为0的内容，并且所有数据保持2位小数</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.1</th>
          <td>在汇总查询页面增加按照市场查询</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.1</th>
          <td>增加配资配置表，和配资筛选功能 ，在汇总查询页面</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.0</th>
          <td>用户可以在菜单中，查看汇总统计数据</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.0</th>
          <td>用户可以在菜单中，查看明细数据</td>
          <td>-</td>
          <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.0</th>
          <td>用户可以在菜单中，选择计算菜单，点击计算，开始执行数据计算</td>
          <td>-</td>
          <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.0</th>
          <td>用户可以根据不同权限，登录系统，不同权限的人查看不同的菜单</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.0</th>
          <td>一级返佣人如果是“账户”的情况下的特殊处理</td>
          <td>-</td>
         <td style="color: red">pass</td>
        </tr>

        <tr>
          <th scope="row">1.0</th>
          <td>需要确定每个excel应该的中文名，根据中文名写入库配置</td>
          <td>-</td>
          <td style="color: green">done</td>
        </tr>
        <tr>
          <th scope="row">1.0</th>
          <td>需要确定没有【转让权益】的excel文件中，转让权益如何计算？</td>
          <td>-</td>
         <td style="color: green">done</td>
        </tr>
            <tr>
          <th scope="row">1.0</th>
          <td>数据的结构整体,改成市场和交易商编号,做主键配对其他信息</td>
          <td>-</td>
          <td style="color: green">done</td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        
      </div>
    </div>
  </div>
</div>


<body class="login-layout light-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red"></span>
                            <span class="grey" id="id-text2">韦恩瑞富</span>
                        </h1>
   <button type="button" class="btn btn-minier  " data-toggle="modal" data-target="#myModal">
  v1.0 | product backlog
        </button>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        请输入您的用户名和密码
                                    </h4>

                                    <div class="space-6"></div>
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" class="form-control" placeholder="请输入用户名" id="Username"/>
                                                <i class="ace-icon fa fa-user"></i>
                                            </span>
                                        </label>

                                        <label class="block clearfix">
											<span class="block input-icon input-icon-right">
												<input type="password" class="form-control" placeholder="请输入密码" id="Password"/>
                                                <i class="ace-icon fa fa-lock"></i>
                                            </span>
                                        </label>
                                        <label class="text-warning bigger-110 red" id="logintip" style="display:none;"></label>

                                        <div class="space"></div>

                                        <div class="clearfix">
                                            <!--<label class="inline">-->
                                                <!--<input type="checkbox" class="ace"/>-->
                                                <!--<span class="lbl"> 记住我</span>-->
                                            <!--</label>-->

                                            <button type="button" class="width-35 pull-right btn btn-sm btn-primary"
                                                    id="loginButton">
                                                <i class="ace-icon fa fa-key"></i>
                                                <span class="bigger-110">登录</span>
                                            </button>
                                        </div>

                                        <div class="space-4"></div>
                                    </fieldset>
                                </div><!-- /.widget-main -->

                                <div class="toolbar clearfix">
                                    <div>
                                        <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            忘记密码
                                        </a>



                                        
                                    </div>

                                    <!--<div>-->
                                        <!--<a href="#" data-target="#signup-box" class="user-signup-link">-->
                                            <!--新用户注册-->
                                            <!--<i class="ace-icon fa fa-arrow-right"></i>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->

                        <div id="forgot-box" class="forgot-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        找回密码
                                    </h4>

                                    <div class="space-6"></div>
                                    <p>
                                        <!--输入账号发送给管理员进行密码重置-->
                                        请联系管理员进行密码重置
                                    </p>

                                    <!--<form>-->
                                        <!--<fieldset>-->
                                            <!--<label class="block clearfix">-->
														<!--<span class="block input-icon input-icon-right">-->
															<!--<input type="email" class="form-control"-->
                                                                   <!--placeholder="Email"/>-->
															<!--<i class="ace-icon fa fa-envelope"></i>-->
														<!--</span>-->
                                            <!--</label>-->

                                            <!--<div class="clearfix">-->
                                                <!--<button type="button" class="width-35 pull-right btn btn-sm btn-danger">-->
                                                    <!--<i class="ace-icon fa fa-lightbulb-o"></i>-->
                                                    <!--<span class="bigger-110">发送</span>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</fieldset>-->
                                    <!--</form>-->
                                </div><!-- /.widget-main -->

                                <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        返回登录
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>


                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->

<!-- by lh 2018-06-27  尝试增加功能记录表-->


                        <div id="backlog" class="forgot-box widget-box no-border" width="800" >
                            <div class="widget-body" width="800">
                                <div class="widget-main" width="800">
                                    <h4 class="header red lighter bigger" width="800">
                                        <i class="ace-icon fa fa-key"></i>
                    
                                    </h4>

                <table class="table table-condensed"  width="800" >
 
                 </table>

                                <div class="toolbar center" width="800">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        返回登录
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->

<!-- by lh 2018-06-27  尝试增加功能记录表-->

                        <div id="signup-box" class="signup-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header green lighter bigger">
                                        <i class="ace-icon fa fa-users blue"></i>
                                        新用户注册
                                    </h4>

                                    <div class="space-6"></div>
                                    <p> 请填写各项信息: </p>

                                    <form>
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control"
                                                                   placeholder="Email"/>
															<i class="ace-icon fa fa-envelope"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control"
                                                                   placeholder="Username"/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
                                                                   placeholder="Password"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
                                                                   placeholder="Repeat password"/>
															<i class="ace-icon fa fa-retweet"></i>
														</span>
                                            </label>

                                            <label class="block">
                                                <input type="checkbox" class="ace"/>
														<span class="lbl">
															同意
															<a href="#">用户协议</a>
														</span>
                                            </label>

                                            <div class="space-24"></div>

                                            <div class="clearfix">
                                                <button type="reset" class="width-30 pull-left btn btn-sm">
                                                    <i class="ace-icon fa fa-refresh"></i>
                                                    <span class="bigger-110">重置</span>
                                                </button>

                                                <button type="button"
                                                        class="width-65 pull-right btn btn-sm btn-success">
                                                    <span class="bigger-110">立即注册</span>

                                                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                                <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        <i class="ace-icon fa fa-arrow-left"></i>
                                        返回登录
                                    </a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.signup-box -->
                    </div><!-- /.position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="/static/ace/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="/static/ace/js/jquery-1.11.3.min.js"></script>
    <![endif]-->

    <script src="/static/ace/js/bootstrap.min.js"></script>
    <script src="/static/ace/js/bootbox.js"></script>

<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">

    jQuery(function($) {
        $(document).on('click', '.toolbar a[data-target]', function(e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });

    $("#loginButton").click(function(){
        var basetip = '<i class="ace-icon fa fa-exclamation-triangle"></i>'
        var username = $("#Username").val();
        if(username == ""){
            $("#logintip").show().html(basetip + " 用户名不能为空。");
            $("#Username").focus();
            return;
        }
        var password = $("#Password").val();
        if(password == ""){
            $("#logintip").show().html(basetip + " 密码不能为空。");
            $("#Password").focus();
            return;
        }
        $.ajax({
            url: "/user/loginaction?username=" + username + "&password=" + password,
            dataType : "json",
            success: function(data){
                if(data["status"] == "0"){
                    location.href = "/";
                // }else if(data["status"] == "1"){
                //     bootbox.alert("您使用初始密码进行登录,请及时修改。", function(){ location.href = "/user/modifypassword"; });

                }else if(data["status"] == "-1"){
                    $("#logintip").show().html(basetip + data["body"]);

                }
            }
        });

    });
    //处理回车事件
    $(function(){
        document.onkeydown = function(e){
        var ev = document.all ? window.event : e;
        if(ev.keyCode==13) {
           $("#loginButton").trigger("click");
     }
}
});



</script>
</body>
</html>
