{% extends "base.html" %}
{% block content %}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="#">个人中心</a>
        </li>
        <li class="active">修改密码</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <form class="form-horizontal" role="form">

        <div class="space-20"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 原密码 </label>

            <div class="col-sm-9">
                <input type="password" id="oldPassword" placeholder="old password" class="col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新密码 </label>

            <div class="col-sm-9">
                <input type="password" id="newPassword1" placeholder="new password" class="col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 确认密码 </label>

            <div class="col-sm-9">
                <input type="password" id="newPassword2" placeholder="confirm new password" class="col-xs-10 col-sm-5">
            </div>
        </div>

        <div style="text-align:center" id="tijiao">
            <button class="btn btn-info ">　修　改　</button>
        </div>

    </form>
</div><!-- /.page-content -->

<script>
    $("#tijiao").click(function(){
        alert(111);
    })
</script>
{% endblock content %}