{% extends "base.html" %}
{% block content %}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="#">个人中心</a>
        </li>
        <li class="active">修改密码</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="form-horizontal" role="form">

        <div class="space-20"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 原密码 </label>

            <div class="col-sm-9">
                <input type="password" id="oldPassword" placeholder="输入原密码" class="col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 新密码 </label>

            <div class="col-sm-9">
                <input type="password" id="newPassword1" placeholder="输入新密码" class="col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" > 确认密码 </label>

            <div class="col-sm-9">
                <input type="password" id="newPassword2" placeholder="确认新密码" class="col-xs-10 col-sm-5">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"></label>

            <div class="col-sm-9">
                <label class="col-xs-10 col-sm-5 text-warning bigger-110 red" id="logintip" style="display:none;"></label>

            </div>
        </div>


        <div style="text-align:center" id="tijiao">
            <button class="btn btn-info ">　修　改　</button>
        </div>

    </div>
</div><!-- /.page-content -->

<script>
    $("#tijiao").click(function(){
        $("#logintip").hide()

        var basetip = '<i class="ace-icon fa fa-exclamation-triangle"></i>'
        var oldPassword = $("#oldPassword").val();
        if(oldPassword == ""){
            $("#logintip").show().html(basetip + " 旧密码不能为空。");
            $("#oldPassword").focus();
            return;
        }

        var newPassword1 = $("#newPassword1").val();
        if(newPassword1 == ""){
            $("#logintip").show().html(basetip + " 新密码不能为空。");
            $("#newPassword1").focus();
            return;
        }
        if(newPassword1.length < 6){
            $("#logintip").show().html(basetip + " 新密码不能少于6位。");
            $("#newPassword1").focus();
            return;
        }
        if(newPassword1 == oldPassword){
            $("#logintip").show().html(basetip + " 新密码不能与旧密码相同。");
            $("#newPassword1").focus();
            return;
        }

        var newPassword2 = $("#newPassword2").val();
        if(newPassword2 == ""){
            $("#logintip").show().html(basetip + " 确认密码不能为空。");
            $("#newPassword2").focus();
            return;
        }
        if(newPassword2 != newPassword1){
            $("#logintip").show().html(basetip + " 确认密码和新密码不一致。");
            $("#newPassword2").focus();
            return;
        }
        $.ajax({
            url: "/user/modifypasswordaction?newpassword=" + newPassword1 + "&oldpassword=" + oldPassword ,
            dataType : "json",
            success: function(data){
                if(data["status"] == "0"){
                    bootbox.alert("密码修改成功。", function(){ location.href = "/"; });

                }else if(data["status"] == "-1"){
                    $("#logintip").show().html(basetip + data["body"]);

                }
            }
        });
    })
</script>
{% endblock content %}